{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
  },
  "rules": {
      "consistent-return": [0],
      "func-names": [0],
      "guard-for-in": [0],
      "indent": [2, 4],
      "key-spacing": [2, { "align": "colon", "beforeColon": true, "afterColon": true }],
      "max-len": [2, 120, 4],
      "no-console": [1],
      "no-underscore-dangle": [0],
      "no-multi-spaces": [2, { "exceptions": {
          "AssignmentExpression": true,
          "VariableDeclarator": true,
      }} ],
      "no-param-reassign": [0],
      "no-unused-vars": [2, { "vars": "all", "args" : "none" }],
      "object-shorthand": [2, "never" ],
      "prefer-const": [0],
      "prefer-rest-params" : [0],
      "spaced-comment": [0], // Disabled as the "exceptions" clause does not seem to currently work
      "strict": [0]
  }
}
